@using TuristickaAgencija.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "Admin";
}



<script>
    $("#programi").addClass('active');
    $("#destinacije").removeClass('active');
    $("#smjestaj").removeClass('active');
</script>

@model TuristickaAgencija.ViewModels.Destinacija.DestinacijaAranzmanDodajVM

<div class="col-md-10 banner-right">
    <!--start-booking-->
    <div class="booking">
        <div class="booking-main">
            <div class="booking-top">
                <div class="col-md-5 booking-top-left">
                    <div class="card-header">
                        <a href="/Smjestaj/Lista" style="cursor: pointer">
                            <h4 class="card-title">Aranzman</h4>
                        </a>
                        <p class="card-category">> Uredi destinaciju</p>
                    </div>
                    <form asp-controller="DestinacijaAranzman" asp-action="Uredi" method="post">
                        <div class="booking-form">
                            <div class="b_room">
                                <div class="booking_room">
                                    <div class="reservation">
                                        <ul>
                                            <li>
                                                <input type="text" asp-for="AranzmanId" hidden/>
                                                <input type="text" asp-for="DestinacijaAranzmanId" hidden/>
                                            </li>
                                            <li class="span1_of_1 left">
                                                <div class="book-text">
                                                    <h5>Aranzman: </h5>
                                                </div>
                                                <div class="book_date">
                                                    <input type="text" asp-for="Aranzman" disabled>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li class="span1_of_1 left">
                                                <div class="book-text">
                                                    <h5>Destinacije: </h5>
                                                </div>
                                                <div class="book_date">
                                                    <select asp-for="DestinacijaId" asp-items="@Model.Destinacije"></select>
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li class="span1_of_1 left">
                                                <div class="book-text">
                                                    <h5>Datum pocetka: </h5>
                                                </div>
                                                <div class="book_date">
                                                    <input type="date" asp-for="DatumPocetka" style="width: 100%;border: 1px solid #DFDFDF">
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li class="span1_of_1 left">
                                                <div class="book-text">
                                                    <h5>Datum Kraja: </h5>
                                                </div>
                                                <div class="book_date">
                                                    <input type="date" asp-for="DatumKraja" style="width: 100%;border: 1px solid #DFDFDF">
                                                </div>
                                                <div class="clearfix"></div>
                                            </li>
                                            <li class="span1_of_1 left" style="float: right;">
                                                <input type="submit" value="Sacuvaj" class="btn btn-style btn-primary" />
                                            </li>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!---->

                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!--end-booking-->
    <!--strat-date-piker-->
    <link rel="stylesheet" href="~/Template/css/jquery-ui.css" />
    <script src="~/Template/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1").datepicker();
        });
    </script>
    <!--//End-date-piker-->
    <div class="footer">
        <p>Copyright &copy; 2015 Promenade. Design by <a href="http://w3layouts.com/"> W3layouts</a></p>
    </div>
</div>
<div class="clearfix"></div>

